body {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #C0C0C0;
}

#mainheader {
    background-color: #B0C4DE ;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

footer {
    clear: both;
    width: 100%;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

p {
   color:green; 
}

p {
    font-size: 18px;
}

h3 {
    font-size: 22px;
}

li {
    font-weight: bold;
    line-height: 1.5;
}

figcaption {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
    text-transform: capitalize;
}

h4 {
    text-align: center;
}