html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* grid rules */
.row {clear: both;}
.limited {
    max-width: 1140px;
    margin: auto;
}

.column{float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}

.small-12{width: 100%;}



footer {
    background-color: #B0C4DE;
    font-size: 1.2 rem;
}
footer h5 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
}






.clearfix:after {
    content: "";
    display: table;
    clear: both;
}